<br/><div class="alert alert-success" *ngIf='message'>{{message}}</div>

<!-- <div class="container"> -->
    <br/><br/>
    <table class="table table-responsive-sm table-hover table-outline mb-0 text-center">
    <thead class="thead-light">
      <tr>
        <th scope="col">رقم</th>
        <th scope="col">اسم</th>
        <th scope="col">ملاحظات</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
              <tr *ngFor="let role of roles; let i=index">
                  <td><b>{{i+1}}</b></td>
                <td  ><a [routerLink]="['/administration/roles', role.id,{componentMode: 'viewMode'}]"><b>{{role.name}}</b></a></td>
                <td  ><b>{{role.description}}</b></td>
                <td style="width: 30%">
                  
                  <button type="button" class="edit-btn btn btn-info" (click)="onEdit(role.id)">تعديل
                      <i class="fa fa-edit"></i>
                    </button>
                
                    <button type="button" class="delete-btn btn btn-danger" (click)="onDelete(role.id)">حذف
                        <i class="fa fa-trash"></i>
                      </button>
                </td>
              </tr>
    </tbody>

  </table>



<!-- </div> -->