<br/><br/>

<div class="alert alert-success" *ngIf='message'>{{message}}</div>

<!-- <div class="container"> -->
  <table class="table">
    <thead>
      <tr>
        <th>رقم</th>
        <th>اسم المحافظة</th>
        <th>المقر</th>  
        <th>تعديل</th>
        <th>مسح</th>
      </tr>
    </thead>
    <tbody>
              <tr *ngFor="let governate of governates; let i=index">
                <td><b>{{i+1}}</b></td>
                <td ><a [routerLink]="['/administration/governates', governate.id,{componentMode: 'viewMode'}]"><b>{{governate.name}}</b></a></td>
                <td><b *ngIf="governate.zone != null">{{governate.zone.name}}</b></td>
                <td><button (click)="onEdit(governate.id)" class="btn btn-success">تعديل</button></td>
                <td><button (click)="onDelete(governate.id)" class="btn btn-warning">مسح</button></td>
              </tr>
    </tbody>

  </table>

  <div class="row">
      <button (click)="addGovernate()" class="btn btn-success">Add</button>
  </div>

<!-- </div> -->