- عند البحث علي رقم القومي في حالة عدم وجوده, يتم نقل الرقم القومي الي صفحة مواطن جديد لاضافتة
- في الخزينة, يظهر جميع الطلبات التي لم تدفع فقط
- add custom and request price in citizen creaation page
- remove payment-date from request-payment as it is must be same as citizen-register date
- اضافة صفحة لاستكمال البيانات , تحتوي علي البيانات الاساسية للطلب , ميعاد كشف الرمد و ميعاد كشف العظام , ورفع الاوراق , طباعة الكشوفات و ايصال ميعاد الكشف
لو الطلب عادي

- in citizen page, remove EDIT,REMOVE button as the receptionist can not remove or edit citizen requests 
- in cashier page, load all request which of type (طلب طلب مستعجل عادي,) 
- add new page to Continue-Registering of request 
- اضافة صفحة جديدة ( بيانات الكشف الطبي ) وت حتوي علي كل الطلبات اللتي لمت تسجل لها نتايج للكشف الطبي .. و يقوم بكتابة نتيجة الكشف العظام والرمد 
و رفع الاوراق الكشف
-  
