
<div class="list-container">
    <button type="button" class="pull-right mb-4 edit-btn btn btn-success" [routerLink]="['/administration/request-data']">اضافة</button>

  <table class="table table-striped text-center">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">نوع الطلب</th>
        <th scope="col">السعر</th>
        <th scope="col">ملاحظات</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let request of requestTypes; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td (click)="viewTypeDetails(request.id)">{{ request.name }}</td>
        <td>{{ request.price }}</td>
        <td>{{ request.description}}</td>
    
        <td>
        <button type="button" class="edit-btn btn btn-info" (click)="onEdit(request.id)">تعديل
          <i class="fa fa-edit"></i>
        </button>
        <button type="button" class="delete-btn btn btn-danger" (click)="onDelete(request.id)">حذف
            <i class="fa fa-trash"></i>

        </button>

        </td>
  
        </tr>
        
      <!-- <tr>
        <th scope="row">2</th>
        <td>Jacob</td>
        <td>Thornton</td>
        <td>@fat</td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td>Larry</td>
        <td>the Bird</td>
        <td>@twitter</td>
      </tr> -->
    </tbody>
  </table>
</div>